html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(43, 69, 117, 1);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: linear-gradient(90deg, rgba(18, 25, 33, 1) 39%, rgba(29, 45, 59, 1) 75%, rgba(54, 81, 128, 1) 100%);
    background-size: cover;
    background-position: center;
    margin: auto;
    color: #fff;
    line-height: 1.6;
    font-weight: 300;
    font-family: Roboto, sans-serif;
}

section {
    padding: 0 20%;
}

section section {
    padding: 0 0%;
    margin-left: 10%;
}

#abstract {
    margin-top: 10vmin;
}

hr {
    box-sizing: content-box;
    height: 0;
}

header>h1 {
    margin: 0;
    font-size: calc((1vh + 1vw)*3);
    line-height: calc((1vh + 1vw)*3.1);
    padding: 10vmin 20%;
    text-align: center;
}

div[role=contentinfo] dl {
    padding: 0 20%;
    font-size: calc((1vh + 1vw)*1.2);
}

div[role=contentinfo] dt {
    font-size: calc((1vh + 1vw)*2);
}

#Referinte dl {
    padding: 0 10%;
    font-size: calc((1vh + 1vw)*1);
}

a {
    background-color: transparent;
    color: rgb(130, 149, 236);
}

.navbar {
    padding: 0;
    padding-top: 4vh;
    width: 85%;
    height: 15%;
    margin: 0 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 42%;
    height: auto;
    cursor: pointer;
    margin-right: 10vmin;
}

.btn-1 {
    font-size: 2.5vmin;
    color: rgba(224, 222, 222, 1);
    padding: 8px 15px;
    margin: 2vmin;
    background: rgb(43, 69, 117, 0.8);
    border: 3px solid rgba(224, 222, 222, 1);
    border-radius: 10vmin;
    outline: none;
    box-shadow: inset 0 0 0 0 rgb(43, 69, 117, 1);
    cursor: pointer;
    transition: ease-out 0.2s;
}

.btn-1:hover {
    color: rgb(43, 69, 117, 1);
    box-shadow: inset 300px 0 0 0 white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(43, 69, 117, 1);
    letter-spacing: .0375em;
}

h2 {
    margin-top: 5vmin;
    font-size: calc((1vh + 1vw)*1.5);
}

h3 {
    margin-top: 3.8vmin;
    font-size: calc((1vh + 1vw)*1.3);
    color: rgb(31, 75, 158);
}

p {
    font-size: calc((1vh + 1vw)*1);
}

ul {
    font-size: calc((1vh + 1vw)*1);
}

@media screen and (max-width:1200px) {
    section {
        padding: 0 10%;
    }
}