* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url(images/bg_landscape_3000_2000.jpg);
    background-size: cover;
    background-position: right center;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 50%;
    height: auto;
    cursor: pointer;
}

.navbar {
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 2.5vmin;
    color: rgba(224, 222, 222, 1);
    padding: 8px 15px;
    background: rgb(43, 69, 117, 0.8);
    border: 2px solid rgba(224, 222, 222, 1);
    border-radius: 50px;
    outline: none;
    cursor: pointer;
}

.content {
    color: rgba(241, 239, 239, 1);
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;
}

h1 {
    font-size: 60px;
    margin: 10px 0 30px;
    line-height: 80px;
}

.sounds img {
    width: 50px;
    animation: soundup 7s linear infinite;
}

.sounds {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -80px;
}

@keyframes soundup {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.sounds img:nth-child(1) {
    animation-delay: 2s;
}

.sounds img:nth-child(2) {
    animation-delay: 1s;
}

.sounds img:nth-child(3) {
    animation-delay: 3s;
}

.sounds img:nth-child(4) {
    animation-delay: 4.5s;
}

.sounds img:nth-child(5) {
    animation-delay: 3s;
}

.sounds img:nth-child(6) {
    animation-delay: 6s;
}

.sounds img:nth-child(7) {
    animation-delay: 7s;
}

.btn-1 {
    box-shadow: inset 0 0 0 0 white;
    transition: ease-out 0.3s;
}

.btn-1:hover {
    color: rgb(43, 69, 117, 1);
    box-shadow: inset 200px 0 0 0 white;
}

.btn-2 {
    box-shadow: inset 0 0 0 0 rgb(43, 69, 117, 1);
    transition: ease-out 0.4s;
    margin-right: 20px;
}

.btn-2:hover {
    color: rgb(43, 69, 117, 1);
    box-shadow: inset 0 0 200px 200px white;
}

@media screen and (max-width:1200px) {
    .hero {
        background-image: url(images/bg_landscape_1500_1000.jpg);
    }
    .content {
        width: 100vw;
        left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
    h2 {
        font-size: 3.5vmin;
    }
    h1 {
        font-size: 8vmin;
        margin: 10px 0 30px 0;
        line-height: 9vmin;
        margin-bottom: 13vmin;
    }
    button {
        font-size: 2.5vmin;
        border-radius: 10vmin;
    }
    .btn-2 {
        margin-top: 3vmin;
    }
}